@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* body */
    .body-overlay {
        @apply bg-black opacity-25 fixed z-[95] inset-0 w-screen h-screen
    }

    /* Navbar */
    .nav-link-active {
        @apply flex lg:justify-center justify-start after:bottom-0 text-base !text-primary font-medium relative after:content-[''] after:w-[12px] after:h-[2px] after:bg-primary after:absolute after:mt-[4px]
    }

    /* Gallery Industries */
    .gallery-slide {
        @apply transition-all duration-300 ease-in-out filter grayscale-[1] lg:!w-[300px] lg:!h-[300px] !w-[192px] !h-[192px] static
    }

    .swiper-gallery-industries {
        @apply lg:!h-[455px] !h-[256px] 
    }

    .swiper-gallery-industries>.swiper-wrapper {
        @apply flex items-center relative
    }

    .swiper-gallery-industries {
        @apply relative after:content-[''] after:absolute after:right-0 after:top-0 after:bottom-0 after:bg-gradient-to-l after:from-white after:to-transparent lg:after:w-[170px] after:w-[52px] after:z-30 before:content-[''] before:absolute before:top-0 before:left-0 before:bottom-0 before:bg-gradient-to-r before:from-white before:to-transparent lg:before:w-[170px] before:w-[52px] before:z-30
    }

    .gallery-slide.swiper-slide-active {
        @apply filter grayscale-0  
    }
    /* lg:!w-[455px] lg:!h-[455px] lg:px-5 !h-[256px] !w-[256px] px-4 */
    /* Why Us Section */
    .why-us-section {
        @apply lg:px-20 py-16 px-4 relative after:content-[''] after:absolute after:bg-blue50 after:-z-10 after:inset-0 after:h-1/2
    }

    .why-us-layout {
        @apply flex flex-col gap-y-8 items-center text-center
    }

    .why-us-container-cards {
        @apply flex flex-row justify-center flex-wrap gap-x-8 lg:w-full gap-y-8 items-center text-center
    }

    .why-us-cards {
        @apply flex lg:w-[296px] h-[352px] w-[328px] flex-col items-center bg-white py-16 px-4 text-center rounded-xl shadow-primary
    }

    .why-us-title {
        @apply text-base text-black font-bold pt-4 pb-2
    }

    .why-us-description {
        @apply text-sm text-neutral900 font-normal
    }
    /* RE News */
    .swiper-news>.swiper-wrapper {
        @apply w-auto h-auto
    }

    /* .swiper-news > .swiper-wrapper > .swiper-slide {
        @apply flex w-full h-full
    } */
    .news-slide {
        @apply flex lg:flex-row flex-col lg:!w-[630px] lg:!h-[200px] !w-[288px] !h-[384px] gap-x-3
    }

    .news-image {
        @apply aspect-[3/2] max-w-[300px] max-h-[200px]
    }

    .news-article {
        @apply flex flex-col py-2
    }

    .news-headline {
        @apply text-base text-neutral700 font-bold pb-2
    }

    .news-created {
        @apply text-sm text-neutral500 font-light pb-3
    }

    /* Footer */
    .footer-container {
        @apply flex lg:max-w-[305px] flex-col gap-y-4 w-full
    }

    .footer-title {
        @apply text-lg font-bold text-secondary
    }

    .footer-link {
        @apply text-base text-white font-normal
    }

    /* footer icon/logo bg */
    .logo-icon-bg {
        @apply flex justify-center items-center w-10 h-10 bg-tertiary rounded-full
    }

    /* Swiper Industries */
    .slider-industries-overlay {
        background-color: #5D7ABE59;
        ;
    }

    .slider-industries>.swiper-slide {
        @apply lg:w-[360px] w-[240px] h-[120px] flex items-center justify-center relative after:content-[''] after:absolute after:slider-industries-overlay after:inset-0
    }

    .slider-industries>.slide-isClicked {
        @apply after:!bg-transparent
    }

    .slider-title {
        @apply absolute lg:text-2xl text-base text-white font-bold z-20
    }

    .slider-industries>.swiper-slide>.swiper-slide__img {
        @apply object-cover
    }

    /* ========== ABOUT US PAGE ========== */

    /* First Section */
    .explanation-video {
        @apply lg:w-[630px] lg:h-[400px] w-full shrink-0 h-auto object-cover rounded-3xl
    }

    .explanation-title {
        @apply lg:text-4xl text-2xl text-neutral700 font-bold
    }

    .explanation-description {
        @apply text-base text-neutral600 font-normal
    }

    /* Goal Section */
    .goals-container {
        @apply relative lg:gap-y-20 flex flex-col items-center text-center gap-y-10 w-full
    }

    .quotation-mark-vision::after,
    .quotation-mark-vision::before {
        content: '';
        background-image: url('/dist/img/goals/quotation-mark.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        width: 54px;
        height: 54px;
        position: absolute;
    }

    .quotation-mark-vision {
        @apply relative lg:before:left-[8%] lg:before:-top-[120%] lg:after:right-[2%] lg:after:-bottom-[35%] before:-top-[180%] before:left-[26px] after:right-[27.24px] after:-bottom-[90%]
    }

    .quotation-mark-mission::after,
    .quotation-mark-mission::before {
        content: '';
        background-image: url('/dist/img/goals/quotation-mark.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        width: 54px;
        height: 54px;
        position: absolute;
    }

    .quotation-mark-mission {
        @apply relative lg:before:left-[2%] lg:before:-top-[78%] lg:after:right-[2%] lg:after:-bottom-[35%] before:-top-[130%] before:left-[26px] after:right-[27.24px] after:-bottom-[70%]
    }

    .goals-title {
        @apply lg:text-5xl text-3xl text-neutral700 font-bold
    }

    .goals-description {
        @apply lg:text-4xl lg:max-w-[560px] lg:px-20 text-2xl text-neutral600 font-normal w-full max-w-[360px] px-[26px]
    }
}

/* akhlak */
.akhlak-container {
    @apply flex flex-col gap-y-3
}

.akhlak-title {
    @apply relative lg:text-2xl text-xl text-white font-bold before:absolute before:inset-0 before:translate-x-[6px] before:translate-y-[6px]
}

.akhlak-title .first-letter {
    @apply relative font-bold lg:text-5xl text-3xl mr-1 text-white z-10 inline-block
}

.akhlak-title .first-letter::before {
    -webkit-text-fill-color: #445E9C;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    transform: translate(2px, 2px);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.akhlak-description {
    @apply text-lg text-white font-normal
}

/* our director */
.director-subtitle {
    @apply w-full flex flex-col items-center text-center bg-director-subtitle absolute bottom-0 right-0 left-0 backdrop-filter backdrop-blur-[6px] py-4
}

.director-img {
    @apply w-full object-cover
}

.director-name {
    @apply text-xl text-white font-bold
}

.director-role {
    @apply text-base text-white font-medium
}

/* logo philosophy section */
.shape-philosophy-card {
    @apply flex gap-x-4 p-4 rounded-xl
}

.shape-philosophy-card {
    box-shadow: 0px 8px 24px rgba(68, 94, 156, 0.12);
}

.shape-philosophy-description {
    @apply text-base text-neutral600 font-normal
}

.color-philosophy-card {
    @apply flex gap-x-4 w-max
}

.color-philosophy-circle {
    @apply h-[32px] w-[32px] rounded-full
}

.color-philosophy-description {
    @apply text-base text-neutral600 font-normal max-w-[223.33px] w-full
}

/* subsidiary section */
.subsidiary-card {
    @apply w-full flex flex-col gap-y-3 p-4 bg-white rounded-2xl
}

.subsidiary-card {
    box-shadow: 0px 4px 24px rgba(68, 94, 156, 0.12);
}

.subsidiary-name {
    @apply lg:text-2xl text-xl text-neutral700 font-bold
}

.subsidiary-wrapper {
    @apply flex xl:flex-row xl:justify-between flex-col gap-y-1
}

.subsidiary-title {
    @apply text-base text-neutral500 font-normal
}

.subsidiary-description {
    @apply text-base text-neutral600 font-normal
}

.subsidiary-icon-wrapper {
    @apply flex gap-x-3
}

/* ========== OUR PROJECT PAGE ========== */
.re-layout {
    @apply flex flex-col gap-y-6
}

.re-header {
    @apply lg:px-0 flex items-center lg:gap-x-8 gap-x-3 px-4
}

.re-icon {
    @apply shrink-0 lg:w-24 lg:h-24 w-16 h-16 bg-blue50 rounded-full flex items-center justify-center
}

.re-header-wrapper {
    @apply flex flex-col gap-y-2 lg:max-w-[630px]
}

.re-header-title {
    @apply lg:text-2xl text-lg text-neutral700 font-bold
}

.re-header-description {
    @apply lg:text-base text-sm text-neutral600 font-normal
}

.swiper-re {
    @apply relative lg:pl-0 pl-4
}

.chevron-button {
    @apply lg:flex hidden select-none absolute top-1/2 -translate-y-1/2 z-20 w-[56px] h-[56px] bg-white rounded-full items-center justify-center box-border
}
.chevron-button-shadow {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
}
.chevron-button {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
}

.chevron-button-next {
    @apply -right-[28px]
}

.chevron-button-prev {
    @apply -left-[28px]
}

.chevron-button-prev img {
    @apply my-[17px] mr-[23px] ml-[21px]
}

.chevron-button-next img {
    @apply my-[17px] mr-[21px] ml-[23px]
}

.re-slide {
    @apply lg:w-[305px] w-[200px]
}

.re-slide-img {
    @apply lg:!h-[250px] w-full !h-[168px] object-cover
}

.re-slide-caption {
    @apply pt-4 flex flex-col gap-y-2
}

.re-slide-title {
    @apply lg:text-lg text-base text-neutral700 font-bold
}

.re-slide-description {
    @apply lg:block hidden text-sm text-neutral600 font-normal
}

.show-in-mobile {
    @apply lg:hidden block
}


@layer utilities {
    /* .calc-plus-155px {
    height: calc(100% + 155px) ;
    width: calc(100% + 155px) !important;
   } */

    .slide-track {
        animation: move 12s linear infinite;
    }

    @media screen and (min-width: 1024px) {
        .slide-track {
            animation: none;
        }
    }

    @keyframes move {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-136%);
        }
    }

    .bg-video-btn {
        background-color: rgba(255, 0, 0, 0.5);
    }

    .shadow-form {
        box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.08);
    }

    .shadow-primary {
        filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.12));
    }

    .font-inter {
        font-family: 'Inter', sans-serif;
    }

    .bg-director-subtitle {
        background-color: rgba(34, 34, 34, 0.35);
    }

    .bg-warm-blue-gradient {
        background: linear-gradient(180deg, #C7D8FF 0%, #F5F8FF 100%);
    }

    .contact-overlay {
        background: linear-gradient(0deg, rgba(28, 46, 88, 0.75), rgba(28, 46, 88, 0.75));
    }
    .detail-project-overlay {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
    .contact-us-shadow {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    }
    .minislider-overlay {
        background: linear-gradient(270deg, #FFFFFF 43.09%, rgba(255, 255, 255, 0) 100%);
    }
    .minislider-overlay-blue50 {
        background: linear-gradient(270deg, #F5F8FF 43.09%, rgba(255, 255, 255, 0) 100%);
    }
    .inspection-overlay {
        background: linear-gradient(81.74deg, #5D7ABE 70.27%, rgba(93, 122, 190, 0) 84.72%);
    }
    .inspection-overlay-mobile {
        background: linear-gradient(171.74deg, #5D7ABE 70.27%, rgba(93, 122, 190, 0) 84.72%);
    }
}